extends layout

block content
  div
    button(id='submit' type='button') submit
    button(id='media_auth' type='button') メディア
    button(id='change_media' type='button') 動画切替
  div(id='display')
    video(id='display_video' autoplay)
