extends layout

block content
  div
    button(id='submit' type='button') submit
    button(id='media_auth' type='button') メディア
    button(id='send_media' type='button') メディア通信
  div(id='display')
    video(id='display_video' autoplay)
