extends layout

block content
  div
    form(method='POST', action='/room')
      div
        span 部屋名: 
        input(type='text', name='roomName')
      div
        span 名前: 
        input(type='text', name='name')
      button(type='submit') 入室
