extends layout

block script
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/media-stream-manager.js")
    script(src="/javascripts/chat.js")
    script(src="/javascripts/mypeerconnection.js")
    script(src="/javascripts/webrtc.js")

block content
  div
    span(id='name') #{name}
    span(id='room') #{roomName}

    div
      button(id='submit' type='button') submit
      button(id='media_auth' type='button') メディア
      button(id='change_media' type='button') 動画切替
    div(id='display')
      video(id='display_video' autoplay)

