extends layout

block script
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/media-stream-manager.js")
    script(src="/javascripts/chat.js")
    script(src="/javascripts/mypeerconnection.js")
    script(src="/javascripts/webrtc.js")

block stylesheet
  link(rel='stylesheet', href='/stylesheets/room.css')

block content
  nav(class='navbar navbar-expand-md navbar-dark bg-dark fixed-top')
   a(class='navbar-brand', href='#') #{roomName}
  main(role='main', class='container')
    div(id='videoArea', class='row')
      div(class='col-md-8')
        div(class='bg-primary text-white')
          div(class='card-header')
            span(class='glyphicon glyphicon-comment') 相手の名前
            div(class='btn-group pull-right')
        div(class='display')
          video(id='screenDisplay', class='remoteMain d-none', autoplay)
          video(id='videoDisplay', class='remoteSub d-none', autoplay)

      div(class='col-md-4')
        div(class='bg-primary text-white')
          div(class='card-header')
            span(class='glyphicon glyphicon-comment') #{name}
            div(class='pull-right')
              button(id='videoCall', class='pointer btn btn-default btn-circle')
                i(class='fa fa-video-camera fa-lg', aria-hidden='true')
              button(id='voiceCall', class='pointer btn btn-default btn-circle ml-2')
                i(class='fa fa-phone fa-lg', aria-hidden='true')
    div(id='chatArea', class='chat-container')
      div(class='header')
        span(class='ml-2') Messages
      div(class='col-md-12 chat-body')
        ul(id='chat', class='chat')
          li(class='message')
            div(class='message-body')
              div(class='chat-header')
                span(class='name font-weight-bold') 藪崎
                small(class='text-muted pull-right')
                  span(class='posted-time') 11月04日 12:32
              p ほげほげ
              p ふがふが
      div(class='col-md-12 chat-input')
        div(class='input-header')
          button(class='btn-primary btn-sm pull-right') 送信
        div
          textarea(name='message', placeholder='ここにメッセージ内容を入力 (Shift + Enterキーで送信)')



